.footer {
  height: 100px;
  padding: 20px;
  background-color: rgb(171, 98, 98);
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .link {
      color: white !important;
      text-decoration: none;
    }
    .active {
      text-decoration: underline;
      color: white !important;
    }
  }
}
